body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: #00274c;
}
/* Hero Section */
.hero {
  background-color: #ffcb05; /* Maize */
  color: #00274c; /* Michigan Blue */
  text-align: center;
  padding: 50px 20px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}

/* Navigation */
nav {
  background-color: #00274c;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Sections */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin: 50px 0;
}

section h2 {
  font-size: 1.8rem;
  color: #ffcb05;
}

/* Footer */
footer {
  background-color: #00274c;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}

#booking-form-container {
    align-self: center;
    border: 2px solid white; /* Add a 2px solid white border */
    border-radius: 12px;
    padding: 20px;
    background-color: #ffcb05; /* Background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.text-blue {
    color: #00274c;
}